body {
    margin: 0;

    font-family: "Source Sans Pro", sans-serif;

    background-color: #2a333d;
}

footer{
    background-color: #2a333d;
    color: white;
    text-align: center;
    width: 100%;
    align-self: center;
}

.avatar {
    display: inline-block;

    vertical-align: text-bottom;
}

.logo {
    display: inline-block;
    width: 200px;
    height: 50px;

    text-align: left;
    vertical-align: text-bottom;
}

.align-left {
    display: flex;
    padding: 8px;

    align-items: center;
}

.objetivo {
    padding-left: 24px;
    margin: 0;
    margin-left: -30px;

    font-family: "Source Sans Pro";
    font-size: 32px;
    font-weight: normal;

    color: #2a333d;
    border-left: 6px solid #2cc197;
}

.header {
    display: flex;
    width: 65%;
    margin: 7% auto 0;
    margin-bottom: 15px;

    justify-content: space-between;
}

.cuenta-info {
    display: block;
    width: 100%;
}

#nombre {
    display: inline-block;
    margin-right: 10px;
    overflow: hidden;

    font-size: 14px;

    text-overflow: ellipsis;

    color: #fff;
}

.links {
    position: relative;

    display: block;
    padding: 0;
    margin: 20px 0;
    margin-bottom: 30px;

    font-family: "Source Sans Pro";
    font-size: 16px;

    cursor: pointer;
    -webkit-transition: all .6s ease-in-out;
       -moz-transition: all .6s ease-in-out;
         -o-transition: all .6s ease-in-out;
            transition: all .6s ease-in-out;
    text-align: left;

    color: #666;
    border: 0;
    background-color: transparent;
}

.links:hover {
    margin-left: 10px;

    color: #2cc197;
}

.white-container {
    display: flex;
    width: 65%;
    padding: 30px;
    margin: 0 auto;
    box-sizing: border-box;

    border: 1px solid #979797;
    border-radius: 8px;
    background-color: #fff;

    justify-content: center;
}

.green-container {
    display: flex;
    width: 65%;
    box-sizing: border-box;

    text-align: center;

    color: white;
    border-radius: 8px;
    background-color: #2cc197;

    align-items: center;
}

.menu-container {
    display: block;
    width: 35%;
    padding-right: 20px;
}

.cuenta-container {
    width: 35%;
}

#saldo-cuenta {
    margin-top: 5%;
    margin-bottom: 5%;
    overflow: hidden;

    font-size: 6.5vw;

    text-align: center;
    text-overflow: ellipsis;
}

#saldo-prestamo {
    margin-top: 5%;
    margin-bottom: 5%;
    overflow: hidden;

    font-size: 6.5vw;

    text-align: center;
    text-overflow: ellipsis;
}

#limite-extraccion {
    overflow: hidden;

    font-size: 15px;

    text-overflow: ellipsis;
}

/* Estilos de la segunda sección */

#lend-container{
    margin-top: 15px;
}

#secondSec{
    display: flex;
    flex-direction: column;
}

#calArea{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#proyecArea{
    width: 100%;
    margin-top: 5%;
    text-align: center;
}

/* Estilos para el formulario */
.form-group{
    margin-top: 5%;
}

.form-control{
    padding: 1% 3%;
    margin: 2% 0%;
    font-size: 16px;
    width: 95%;
}

.btn{
    background-color: #009069;
    color: white;
    border: 1px solid;
    padding: 3% 10%;
    border-radius: .25rem;
    font-size: 16px;
}

/**
Cuota mensual
*/
.info{
    margin: 0;
}

.valor{
    margin: 0px 0px 5px 0px;
    font-size: 28px;
}

.verDetalle{
    background-color: lightgray;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
    cursor: pointer;
    margin-bottom: 2%;
}

.verDetalle:hover{
    background-color: rgb(89, 124, 106);
    border: 1px solid black;
}

.thLean{
    width: 15%
}

@media only screen and (max-width: 800px) {
    .white-container {
        flex-direction: column-reverse;
    }

    .green-container {
        width: 100%;
        margin-bottom: 20px;
    }

    #saldo-cuenta {
        font-size: 8.5vw;
    }

    #saldo-prestamo{
        font-size: 8.5vw;
    }

    .menu-container {
        width: 100%;
    }

    .header {
        margin-bottom: 10px;
        flex-direction: column;

        align-items: center;
    }

    .logo {
        margin-bottom: 10px;
    }

    #leanTitle{
        margin-left: -30px;
    }
}
